<template name="home">
            <div class="row" id="quote">
                <h5 class="module-icon m-b-20">
                    <span class="icon-quote"></span>

                </h5>
                <div class="font-serif m-b-20">
                    Nails are the period at the end of the sentence. <br>
                    They complete the look.
                </div>
                <div class="quote-author font-alt">Prabal Gurung</div>
            </div>
            <!--quote-->
</template>